body {
    background-color: darkgrey;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 15px 0;
    font-size: 15px;
}

.grid1 {
    grid-area: 1 / 1 / span 2 / span 2;
}
